.Info{
    margin-bottom: 5rem;
}


header{
    height: 120vh;    
    padding: 7rem 0 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    top: 2rem;
}
.cta{
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
    justify-content: center;
}
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    gap: 0.8rem;
    bottom: 3rem;
}
.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    width: 22rem;
    height: 36rem;
    background: linear-gradient(var(--color-primary),transparent);
    background-color: var(--color-primary);
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 1rem;
    overflow: hidden;
}
.scroll__down{
    position: absolute;
    right: -2rem;
    bottom: 5rem;
    font-weight: 500;
    font-size: 0.9rem;
    transform: rotate(90deg);
}

@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }
}

@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header__socials,.scroll__down{
        display: none;
    }
}